.section {
  padding-top: 115px;
}

.dropdown-menu li {
  margin: 5px 0;
}

h4 {
  margin: 10px 0 10px;
}

.input-group-addon {
  padding-right: 0px;
  padding-left: 0px;
}

.meaning {
  padding: 15px;
}

.meaning > ol ul {
  padding-left: 17px;
}