.section {
  margin-top: 80px;
}

.custom-table {
  padding: 20px;
  border: 1px solid #d7e0db;
  border-radius: 4px;
}

p {
	text-transform: uppercase;
	color: #9A9A9A;
	line-height: 30px;
  font-size: 12px;
  font-weight: 600;
  margin-left: 45px;
}

.list-group {
	color: red
}